---
const classe = Astro.props.class;
---

<section>
  <div class=`flex items-start`>
    <div class=`bg-rose flex-1 ${classe}`></div>
    <div class=`bg-violet flex-1 ${classe}`></div>
    <div class=`bg-bleu-ciel flex-1 ${classe}`></div>
    <div class=`bg-jaune flex-1 ${classe}`></div>
  </div>
</section>
